@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font: 16px;
}

img {
    max-width: 100%;
}

/* HEADER BEGINS BELOW THIS LINE */

#top-media {
    height: 50vh;
}

.top-media-img img {
    position: absolute;
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.top-media-text {
    height: 50vh;
    position: relative;
    font-family: 'Bebas Neue';
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-media-text h1 {
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 12px;
    color: black;
    background-color: white;
}

/* MEDIA SEC1 BEGINS BELOW */

#medsec1 {
    height: 75vh;
    background-color: black;
    color: #fff;
}

.medsec1-text {
    padding: 2rem;
    font-family: 'Bebas Neue';
}

.medsec1-text h1 {
    font-size: 38px;
}

.medsec1-text p {
    margin-top: 2rem;
    font-size: 25px;
}