@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font: 16px;
}

img {
    max-width: 100%;
}

/* HEADER BEGINS BELOW THIS LINE */

#top-media {
    height: 50vh;
}

.top-media-img img {
    position: absolute;
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.top-media-text {
    height: 50vh;
    position: relative;
    font-family: 'Bebas Neue';
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-media-text h1 {
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 12px;
    color: black;
    background-color: white;
}

/* MEDIA SEC1 BEGINS BELOW */

#medsec1 {
    height: 75vh;
    background-color: black;
    color: #fff;
}

.medsec1-text {
    padding: 2rem;
    font-family: 'Bebas Neue';
}

.medsec1-text h1 {
    font-size: 32px;
    text-align: center;
}

.whiteboxes {
    padding: 0 2rem;
}

.whiteboxes p {
    font-size: 25px;
    text-align: center;
    color: black;
    font-family: 'Bebas Neue';
    padding: 2rem;
    border-radius: 25px;
}

.wb1 {
    background-color: #fff;
}

.whiteline {
    background-color: #fff;
    height: 7vh;
    width: .75vw;
    margin: 0 auto;
}

.wb2 {
    background-color: #fff;
}

@media (max-width: 360px) {
    #medsec1 {
        height: 80vh;
    }
}

@media (min-width: 375px) {
    #medsec1 {
        height: 80vh;
    }
}

@media (min-width: 390px) {
    #medsec1 {
        height: 59vh;
    }
}

@media (min-width: 412px) {
    #medsec1 {
        height: 55vh;
    }
}

@media (min-width: 414px) {
    #medsec1 {
        height: 57vh;
    }
}

@media (min-width: 540px) {
    #medsec1 {
        height: 69vh;
    }
}

@media (min-width: 768px) {
    #medsec1 {
        height: 50vh;
    }

    .whiteboxes {
        margin-top: 2rem;
    }

    .medsec1-text h1 {
        margin-top: 2rem;
    }

    .whiteboxes p {
        font-size: 30px;
    }
}

@media (min-width: 820px) {
    #medsec1 {
        height: 50vh;
    }

    .whiteboxes {
        margin-top: 3rem;
    }

    .medsec1-text h1 {
        margin-top: 2.3rem;
    }

    .whiteboxes p {
        font-size: 30px;
    }
}

@media (min-width: 912px) {
    #medsec1 {
        height: 42vh;
    }
}