@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font: 16px;
}

img {
    max-width: 100%;
}

/* NAV BAR BEGINS BELOW THIS LINE*/

header {
    font-family: 'Bebas Neue';
    height: 100vh;
}

#nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: black;
    color: #fff;
    height: 50vh;
}

#nav h3 {
    margin-top: .2rem;
}

.worship-img img {
    display: block;
    height: 50vh;
    object-fit: cover;
    width: 100%;
}

@media (min-width: 600px) {
    .worship-img img {
        display: flex;
        width: 50vw;
    }

    #nav {
        width: 50vw;
    }

    header {
        display: flex;
        height: 50vh;
    }
}

/* MAIN BODY BELOW THIS LINE */

main {
    background-color: #FF7F50;
    height: 75vh;
    color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.container1 {
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
}

.container1 h1 {
    font-weight: 400;
    font-family: 'Bebas Neue';
}

.container1 .c1p1,
.c1p2 {
    margin-top: 1.5rem;
    line-height: 1.5rem;
    justify-content: center;
    padding: 0 .5rem;
}

@media (min-width: 600px) {
    main {
        height: 50vh;
    }
}

/* SECTION 1 BEGINS BELOW THIS LINE */

#sec1 {
    background-color: black;
    height: 75vh;
    color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.container2 {
    text-align: center;
    width: 100%;
}

.container2 h1 {
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Bebas Neue';
}

iframe {
    margin-top: 1.2rem;
    width: 100%;
}

@media (min-width: 600px) {
    #sec1 {
        height: 100vh;
    }

    iframe {
        height: 50vh;
    }

    .container2 h1 {
        font-size: 2rem;
    }
}

/* SECTION 2 BEGINS BELOW THIS LINE */

#sec2 {
    border-top: 2px solid black;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
}

#sec2 h1 {
    margin-top: 1.3rem;
    text-align: center;
    font-family: 'Bebas Neue';
}

#sec2 ul {
    padding: 2rem;
    justify-content: center;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#sec2 a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

#sec2 a:hover {
    border-bottom: 2px solid black;
}

@media (min-width: 600px) {
    #sec2 {
        width: 80%;
        margin: 0 auto;
    }

    #sec2 ul {
        width: 80%;
        margin: 0 auto;
    }
}

/* SECTION 3 BEGINS BELOW THIS LINE */

#sec3 {
    height: 75vh;
    padding: 2rem;
    font-family: 'Bebas Neue';
    background-color: #fff;
}

.container3 {
    text-align: center;
}

.img-cont {
    display: block;
}

.container3 .c3p1 {
    margin-top: .75rem;
    font-size: 1.1rem;
}

.container3 .c3p2 {
    margin-top: .75rem;
    font-size: 1.1rem;
}

.img-cont img {
    width: 45vw;
    height: 17vh;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: calc(.07s);
    margin-top: .5rem;
    cursor: pointer;
}

.img-cont img:hover {
    transform: scale(1.1);
}

@media (min-width: 600px) {
    #sec3 {
        height: 100vh;
    }

    .container3 h1 {
        font-size: 2.1rem;
    }

    .container3 .c3p1 {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .container3 .c3p2 {
        margin-top: 1rem;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .container3 .hidden-p1 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .img-cont img {
        margin-top: 2.5rem;
        width: 35vw;
        height: 28vh;
        margin-left: 1rem;
    }
}

@media (max-width: 600px) {
    .container3 .hidden-p1 {
        display: none;
    }
}